<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Appointment</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container">
    <h2>Book a New Appointment</h2>
    
    <form th:action="@{/save-appointment}" method="post">
        Patient:
        <select name="patientId">
            <option th:each="p : ${patients}" th:value="${p.id}" th:text="${p.name}"></option>
        </select> <br/>

        Doctor:
        <select name="doctorId">
            <option th:each="d : ${doctors}" th:value="${d.id}" th:text="${d.name}"></option>
        </select> <br/>

        Date: <input type="date" name="appointmentDate" required/> <br/>
        Time: <input type="time" name="appointmentTime" required/> <br/>
        <button type="submit">Book Appointment</button>
    </form>
</div>
</body>
</html>