<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Doctor</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container">
    <h2>Edit Doctor Details</h2>
    <form th:action="@{/update-doctor/{id}(id=${doctor.id})}" th:object="${doctor}" method="post">
        Name: <input type="text" th:field="*{name}" /> <br/>
        Specialization: <input type="text" th:field="*{specialization}" /> <br/>
        <button type="submit">Update Doctor</button>
    </form>
</div>
</body>
</html>