<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Patients List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container">
    <h2>List of Registered Patients</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th sec:authorize="hasRole('ADMIN')">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pat : ${patients}">
                <td th:text="${pat.id}"></td>
                <td th:text="${pat.name}"></td>
                <td th:text="${pat.age}"></td>
                <td th:text="${pat.gender}"></td>
                <td sec:authorize="hasRole('ADMIN')">
                   <a th:href="@{/edit-patient/{id}(id=${pat.id})}">Edit</a>
                    <a th:href="@{/delete-patient/{id}(id=${pat.id})}" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br/>
    
    <div class="form-actions">
        <div sec:authorize="hasRole('ADMIN')">
            <a href="/add-patient-form">Add New Patient</a>
        </div>
        
        <a href="/" style="background-color: #6c757d; color: white;">Back to Home</a>
    </div>
</div>
</body>
</html>